@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald:700&display=swap');

:root {
  --dark-gray: #222222;
  --greenish: #7accb7;
  --purple: #4b4e6d;
  --gray: #95a3b3;
  --heading-font: 'Oswald', sans-serif;
  --body-font: 'Merriweather', serif;
}
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
* {
  box-sizing: border-box;
}

body,
button,
a {
  color: var(--dark-gray);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--purple);
  font-family: var(--heading-font);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  display: block;
  max-width: 100%;
  border-radius: 4px 0 0 4px;
  border: 1px ridge rgba(221, 221, 221, 0.46);
  border-width: 1px 0 1px 1px;
  padding: 0.6rem;
}
button {
  background: #7accb7;
  border-radius: 0 3px 3px 0;
  border: 1px solid #7accb7;
  padding: 0 1rem;
}
svg {
  align-self: center;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.App {
  font-family: sans-serif;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 50rem;
}

.search {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.poster {
  max-width: 400px;
}

.poster img {
  width: 100%;
}
