@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald:700&display=swap');

:root {
  --dark-gray: #222222;
  --greenish: #7accb7;
  --purple: #4b4e6d;
  --gray: #95a3b3;
  --heading-font: 'Oswald', sans-serif;
  --body-font: 'Merriweather', serif;
}

* {
  box-sizing: border-box;
}

body,
button,
a {
  color: var(--dark-gray);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--purple);
  font-family: var(--heading-font);
}

section {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  border-radius: 4px 0 0 4px;
  border: 1px ridge rgba(221, 221, 221, 0.46);
  border-width: 1px 0 1px 1px;
  padding: 0.6rem 0.6rem 0.6rem 2.5rem;
}

button {
  background: #7accb7;
  border-radius: 0 3px 3px 0;
  border: 1px solid #7accb7;
  padding: 0 1rem;
}

svg {
  align-self: center;
}

li hr {
  margin-top: 0;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.App {
  font-family: sans-serif;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 50rem;
}

.site-header h1 {
  text-align: center;
  text-transform: uppercase;
  background: white;
}

.search {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 0.3rem;
}

.list li {
  margin-bottom: 2rem;
}
.poster {
  max-width: 400px;
}

.poster img {
  width: 100%;
  height: 100%;
}

.site-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copyright {
  text-align: right;
}

@media only screen and (min-width: 40rem) {
  .list li:nth-child(odd) {
    background: #f0f1f2;
  }

  .list li:hover {
    background: #c9ced4;
  }

  .list-item {
    display: flex;
  }
  .poster {
    margin-right: 2rem;
    max-width: 20rem;
    min-width: 12rem;
  }
}
